html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#main-sidebar:before {
    content: '';
    position: fixed;
    top: 64px;
    left: 240px;
    height: 40px;
    width: 40px;
    border-top-left-radius: 50%;
    box-shadow: -20px 0 0 0 #0f172a;
    z-index: 9999;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
