html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    margin: 0;
}

html,
body {
    touch-action: pan-y;
}

body::-webkit-scrollbar {
    display: none;
}

.orsive-scrollbar::-webkit-scrollbar {
    width: 0.2rem;
}

.orsive-scrollbar::-webkit-scrollbar-track {
    background: #020617;
}

.orsive-scrollbar::-webkit-scrollbar-thumb {
    background: #2563eb;
}

#main-sidebar:before {
    content: '';
    position: fixed;
    top: 64px;
    left: 240px;
    height: 20px;
    width: 20px;
    border-top-left-radius: 50%;
    box-shadow: -10px 0 0 0 #020617;
    background: none;
    z-index: 1;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
